*{
     margin-top:0;
     margin-bottom:0px;
     padding:0;
     box-sizing:border-box;
     margin-bottom:0;
  
}
.container{
     background-image:url(https://static.vecteezy.com/ti/vetor-gratis/p2/4708514-fundo-roxo-simples-plano-roxo-gradacao-fundo-ondulado-vetor.jpg);
     height:auto;
     margin-top:0;
     margin-bottom:0;
     display:flex;/*;flex início*/
     flex-direction:row;
     justify-content:center;
     align-items: center;}

.container div{
     flex-direction:row;
     width:500px;
     margin-left:20px;
}

.container>.div1{
     display:flex;
     flex-direction:column;
     width:500px;
     margin-top:0;
}

.container>.div1>.titulo{
     background-color:#ccc;
     color: #493169;
     border:1px solid purple;
     height:15%;
     width:80%;
     padding:10px;
     margin:10px;
     border-radius:10px;
     box-shadow: 0px 1px 6px rgb(32 33 36 / 28%);
     border-color:rgba(223,225,229,0);
     border-top:3px solid #493169;
     font-size:40px;
     font-family:fantasy;
     text-align:center;
     font-style:italic;
     flex-direction:column;
}
    
.container>.div1>.search{
    display:flex;
    flex-direction:column;
    background-color:blueviolet;
    border:1px solid purple;
    height:55px;
    width:400px;
    padding:10px;
    margin:10px;
    border-radius:10px;
    box-shadow: 0px 1px 6px rgb(32 33 36 / 28%);
    border-color:rgba(223,225,229,0);
    border-top:3px solid #493169;
    }       

    .container>.div1>.lista{
    flex-direction:row;
    overflow: auto;
    border:1px solid purple;
    height:45em;
    width:400px;
    padding:10px;
    margin:10px;
    border-radius:10px;
    box-shadow: 0px 1px 6px rgb(32 33 36 / 28%);
    border-color:rgba(223,225,229,0);
    border-top:3px solid #493169;
    border-bottom:3px solid #493169;
}
.container>.div2>{
     display:flex;
     flex-direction:column;
     width:500px;
     margin-top:10px;
}


.container>.div2>.info{
    background-color:#ccc;
    display: flex;
    flex-direction: column;
    opacity:0.8;
    border:5px outset purple;
    height:80%;
    width:100%;
    padding:10px;
    margin:10px;
    border-radius:10px;
    box-shadow: 0px 1px 6px rgb(32 33 36 / 28%);
    border-color:rgba(223,225,229,0);
    border-top:10px outset #493169;
    border-bottom:10px outset #493169 ;
}


.container>.div1>.search>.search-txt{background:blueviolet;
    font-family: sans-serif;
    border:10px outset blueviolet;
    height:40px;
    width:380px;
    flex-direction:column;
}

input::placeholder{
    color: aliceblue;
    border:none ;
}
    
.titulo{
   margin-top:15px;
   display:flex;
   flex-direction: column;
   font-size:25px;
   font-style: oblique;
   font-family:cursive;
   color:#493169;
   margin-right:0px;
   margin-bottom:0px;
   text-align: center;
}




   

   
   

   