<div class="container">
    <div class="div1">
        <div class="titulo">
            <h1>
                Pokedex
            </h1>
        </div>
        <input class="search-txt" placeholder="Pesquisar..." [(ngModel)]="search" (keyup.enter)="getSearch($event)" />
        <div class="lista" *ngIf="pesquisa">
            <app-pokemon-card *ngFor="let pokemon of pesquisa" (click)="loadType(pokemon.name)" [pokemon]="pokemon">
            </app-pokemon-card>
        </div>
    </div>
    <div *ngIf="pokemon" class="info">
        <img [src]="pokemon.sprites.other.dream_world.front_default" width="150px" height="150px" />
        <h2>
            {{ pokemon.name }}
        </h2>
        <b>
            Ability:
        </b>
        <div class="ability" *ngFor="let habilidades of pokemon.abilities">
            <ul>
                <li>{{ habilidades.ability.name }}</li>
            </ul>
        </div>
        <b> Type: </b>
        <div class="types" *ngFor="let tipos of pokemon.types">
            <ul>
                <li>{{ tipos.type.name }}</li>
            </ul>
        </div>
    </div>
</div>